body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  height: calc(100vh - 100px);
}

.card {
  background-color: pink;
  height: 100%;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}


.card img {
  margin-bottom: 10px;
  height: 80%;
  width: 80%;
}

.card h1 {
  float:inline-start;
  font-size: 24px;
}

.card h2 {
  float:inline-end;
}

.card p {
  font-size: 20px;
}

.like {
  background-color: rgb(9, 255, 9);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.dislike {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.like:hover {
  background-color: green;
}

.dislike:hover {
  background-color: rgb(247, 98, 98);
}

.wrapper {
  margin-top: 0%;
  display: flex;
  justify-content: center;
}